<div class='col-sm-2'>
    <input type='file' id='filename'>
    <div id='upload' class='btn btn-black waves-effect waves-light' {{action 'fileUpload'}}>
        <span>
           <i class='ion-upload m-r-5'></i>{{t 'main.fields.upload'}}
        </span>
    </div>
</div>
